//
// Imports
//

@use "sass:math";
@use "sass:string" as str;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');


//
// Util functions
//

@mixin small-viewport() {
    @media (max-width: $w-page-md) {
        @content;
    }
}

@mixin parent-with($mod, $level: 0) {
  $sel: &;
  
  @for $i from 1 through length($sel) {
    $sel-part: nth($sel, $i);
    $sel-last: nth($sel-part, -1);
    $bem-parts: str.split($sel-last, '__');
    $mod-parts: str.split(nth($bem-parts, 2), '--');
    $elm-parts: str.split(nth($mod-parts, 1), '-');
    $elm-count: length($elm-parts);

    $level: if($level < 0, $elm-count + $level, $level);
    $level: math.clamp(0, $level, $elm-count);

    $str: '';
    @for $i from 0 to $level {
      $str: $str +
        if($i == 0, '__', '-') +
        nth($elm-parts, $i + 1);
    }
    
    $sel: set-nth(
      $sel, $i,
      set-nth(
        $sel-part, -1,
        nth($bem-parts, 1) + $str + $mod + ' ' + $sel-last
      )
    ); 
  }

  @at-root #{ $sel } {
    @content;
  }
}


//
// Variables
//

// Dimensions
$w-rem: 16px;
$w-page-lg: 62rem;
$w-page-md: 56rem;
$w-page-sm: 36rem;
$w-text-contain: 50rem;
$w-page-pad: 1rem;
$w-thumb-rad: 0.5rem;
$w-outline: 0.125rem;
$w-radius: 0.25rem;
$w-radius-lg: 1rem;
$w-row-head: 3rem;
$w-node: 5.125rem;
$h-node: 3.125rem;
$w-key-rad: 0.375rem;
$w-tile-pad: 1rem;
$w-node-gap-x: 1.5rem;
$w-node-gap-y: 3.5rem;
$w-node-connect: 0.75rem;
$w-node-connect-gap: $w-outline * 3;
$w-node-connect-top: $w-node-connect-gap + $w-node-connect;
$w-node-connect-bottom: $w-node-connect-gap + $w-outline;
$w-node-connect-kink: $w-node-connect - $w-outline;
$h-key: 7.5rem;

// Z indices
$z-tone-under-canvas: 9;
$z-tone-canvas: 10;
$z-tone-over-canvas: 11;
$z-tone-row-head: 20;
$z-key: 10;
$z-key-focus: 20;
$z-key-flat: 30;
$z-key-flat-focus: 40;

// Font
$f-family-title: "Noto Serif", Helvetica, sans-serif;
$f-family: "Space Grotesk", Helvetica, sans-serif;
$f-size-title: 2rem;
$f-size-subtitle: 1.375rem;
$f-size-lg: 1rem;
$f-size-md: 0.875rem;
$f-size-sm: 0.75rem;
$f-size-xs: 0.625rem;

// Timings
$t-fade: 500ms;
$t-appear: 200ms;
$t-appear-delay: 750ms;

@keyframes button-appear {
    from {
        opacity: 0;
        pointer-events: none;
    }

    to {
        opacity: 1;
        pointer-events: all;
    }
}

// Color
$c-primary: dodgerblue;
$c-warning: tomato;

$c-highlight-count: 10;
$c-l-highlight: ();
$c-d-highlight: ();
@for $i from 1 through 10 {
    $hue: -20 + ($i - 1) * 582;
    $c-l-highlight: append(
        $c-l-highlight,
        hsl($hue, 100%, 45%)
    );
    $c-d-highlight: append(
        $c-d-highlight,
        hsl($hue, 100%, 40%)
    );
}

$c-l-bg: #e2e9f0;
$c-l-bg-secondary: #ffffff;
$c-l-bg-xd: #bbbbbb;
$c-l-bg-d: #dddddd;
$c-l-fg: #222222;
$c-l-fg-l: #595959;
$c-l-fg-xl: #888888;
$c-l-fg-active: darken($c-primary, 10%);
$c-l-key: $c-l-bg-secondary;

$c-d-bg: #181822;
$c-d-bg-secondary: #24242e;
$c-d-bg-xd: #444444;
$c-d-bg-d: #333333;
$c-d-fg: #eeeeee;
$c-d-fg-l: #a9a9a9;
$c-d-fg-xl: #888888;
$c-d-fg-active: lighten($c-primary, 10%);
$c-d-key: $c-l-bg;

$c-bg:           var(--c-bg);
$c-bg-secondary: var(--c-bg-secondary);
$c-bg-xd:        var(--c-bg-xd);
$c-bg-d:         var(--c-bg-d);
$c-fg:           var(--c-fg);
$c-fg-l:         var(--c-fg-l);
$c-fg-xl:        var(--c-fg-xl);
$c-fg-active:    var(--c-fg-active);
$c-key:          var(--c-key);

$c-text: $c-fg;
$c-text-warning: $c-warning;
$c-text-link: $c-fg-active;
$c-text-l: $c-fg-l;
$c-text-xl: $c-fg-xl;
$c-axis: $c-text;
$c-border: $c-fg-l;
$c-key-hover: $c-l-bg-xd;
$c-key-border: $c-l-fg;
$c-key-flat: $c-l-fg;
$c-key-flat-hover: $c-l-fg-xl;

// Expose variables
.body {
    --w-rem:        #{ $w-rem };
    --w-row-head:   #{ $w-row-head };
    --w-node-gap-x: #{ $w-node-gap-x };
    --w-node-gap-y: #{ $w-node-gap-y };
    --w-node:       #{ $w-node };
    --h-node:       #{ $h-node };
    --w-node-connect-bottom: #{ $w-node-connect-bottom };
    --w-node-connect-kink:   #{ $w-node-connect-kink };
    
    --c-highlight-count: #{ $c-highlight-count };
    --c-text:            #{ $c-text };
    --c-text-l:          #{ $c-text-l };
    --c-axis:            #{ $c-axis };
    --c-primary:         #{ $c-primary };

    &--theme-light {
        --c-bg:           #{ $c-l-bg };
        --c-bg-secondary: #{ $c-l-bg-secondary };
        --c-bg-tile:      #{ $c-l-bg-secondary };
        --c-bg-xd:        #{ $c-l-bg-xd };
        --c-bg-d:         #{ $c-l-bg-d };
        --c-fg:           #{ $c-l-fg };
        --c-fg-l:         #{ $c-l-fg-l };
        --c-fg-xl:        #{ $c-l-fg-xl };
        --c-fg-active:    #{ $c-l-fg-active };
        --c-key:          #{ $c-l-key };
        
        @for $i from 1 through $c-highlight-count {
            --c-highlight-#{$i - 1}: #{ nth($c-l-highlight, $i) }; 
        }
    }

    &--theme-dark {
        --c-bg:           #{ $c-d-bg };
        --c-bg-secondary: #{ $c-d-bg-secondary };
        --c-bg-tile:      #{ $c-d-bg };
        --c-bg-xd:        #{ $c-d-bg-xd };
        --c-bg-d:         #{ $c-d-bg-d };
        --c-fg:           #{ $c-d-fg };
        --c-fg-l:         #{ $c-d-fg-l };
        --c-fg-xl:        #{ $c-d-fg-xl };
        --c-fg-active:    #{ $c-d-fg-active };
        --c-key:          #{ $c-d-key };

        @for $i from 1 through $c-highlight-count {
            --c-highlight-#{$i - 1}: #{ nth($c-d-highlight, $i) }; 
        }
    }
}


//
// Page
//

html {
    font-size: $w-rem;
    overscroll-behavior: none;
}

body {
    background-color: $c-bg;
    padding: $w-page-pad;
    margin: 0;

    @include small-viewport {
        max-width: $w-page-sm;
        margin: 0 auto;
    }
}

body,
input,
label,
textarea,
button {
    font-family: $f-family;
    color: $c-text;
}


//
// Components
//

h2 {
    font-size: $f-size-subtitle;
    font-weight: 500;
    margin: 0 0 1.25rem;
}

p {
    font-size: $f-size-lg;
    line-height: 1.5;
    max-width: $w-text-contain;
    margin: 0;
}

.code {
    display: block;
    border-radius: $w-radius;
    padding: 1rem 1rem 1rem 2rem;
    margin: 1rem 0 2rem;
    max-width: $w-text-contain;
    white-space: pre-wrap;        
    background-color: $c-bg;
    font-size: $f-size-md;
    line-height: 1.5rem;

    &:last-child {
        margin-bottom: 0;
    }
    
    &--inline {
        display: inline;
        margin: 0;
        padding: 0.25rem 0.375rem;
    }
}

button,
.link-button,
.radio-button,
[role=tablist] label {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid $c-border;
    border-radius: 0.25rem;
    font-size: $f-size-md;
    font-weight: 400;
    background-color: $c-bg;
    line-height: 1.25rem;
    cursor: pointer;
    text-decoration: none;
    color: $c-text;

    &:hover {
        background-color: $c-bg-d;
    }   

    &:focus-visible,
    &:has(&__input:focus-visible) {
        outline: $w-outline solid $c-text;
    }

    &--detail {
        padding-left: 0.25rem;
        font-size: $f-size-sm;
        color: $c-text-l;
    }
}

.radio-button {
    position: relative;

    &:has(&__input:checked) {
        border-color: $c-primary;
        box-shadow: inset 0 0 0 2px $c-primary;
    }
    
    &__input {
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

[role=tablist] {
    input {
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0;
        left: 0;
    }

    label {
        position: relative;
        border: none;
        padding: 0.5rem 1.25rem 0.75rem;

        &:has(:checked) {
            border-radius: $w-radius $w-radius 0 0;
            box-shadow: inset 0 -3px 0 0 $c-primary;

            &:hover {
                background-color: unset;
                cursor: default;
            }
        }

        &:has(:focus-visible) {
            outline: 2px solid $c-text;
            z-index: 1;
        }
    }
}

input[type=range] {
    -webkit-appearance: none; 
    appearance: none;
    background-color: $c-bg-xd;
    height: 0.25rem;
    border-radius: 0.125rem;
    margin: $w-thumb-rad;

    &.input--hide-track {
        height: 0;
        margin: 0;
        pointer-events: none;
    }

    &:focus,
    &:focus-visible {
        outline: none;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 2 * $w-thumb-rad;
        height: 2 * $w-thumb-rad;
        border-radius: 100%;
        border: 1px solid $c-fg;
        background-color: $c-bg;
        cursor: ew-resize;
        pointer-events: all;

        &:hover {
            background-color: $c-fg;
        }
    }

    &:focus-visible::-webkit-slider-thumb {
        outline: 1px solid $c-fg;
        outline-offset: $w-outline;
        background-color: $c-fg;
    }
}

.checkbox {
    position: relative;
    padding-right: 1.75rem;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        top: 0.125rem;
        right: 0;
        width: 1rem;
        height: 1rem;
        border: 1px solid $c-border;
        border-radius: 0.25rem;
    }

    &:hover::after {
        background-color: $c-bg-xd;
    }

    &:has(&__input:checked) {
        &::after {
            background-color: $c-primary;
            box-shadow: inset 0 0 0 3px $c-bg;
        }

        &:hover::after {
            box-shadow: inset 0 0 0 3px $c-bg-xd;
        }
    }

    &:has(&__input:focus-visible) {
        &::after {
            outline: 2px solid $c-text;
        }
    }

    &__input {
        position: fixed;
        width: 1px;
        height: 1px;
        left: -200vw;

        &:focus-visible {
            outline: none;
        }
    }
}

.input-range-graph {
    width: 100%;
}


//
// Page layout
//

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;

    &__title {
        font-size: $f-size-title;
        font-weight: 500;
        margin: 0 auto 0 0;

        &-version {
            padding-left: 0.5rem;
            font-size: $f-size-sm;
            color: $c-text-l;
            font-style: italic;
        }
    }

    &__theme {
        padding: 0.5rem;
        border: 1px solid $c-fg-l;
        border-radius: 100%;
        margin-left: 0.5rem;
        vertical-align: middle  ;
        background: linear-gradient(-45deg, $c-l-bg, $c-d-bg);
        cursor: pointer;

        &:hover {
            background-color: $c-bg-d;
        }   

        &:focus-visible,
        &:has(&__input:focus-visible) {
            outline: $w-outline solid $c-text;
        }
    }
}

.page {
    &__container {
        max-width: $w-page-lg;
        margin: 0 auto;
    }

    &__create,
    &__export,
    &__about {
        display: none;
    }

    &__about-section,
    &__export-section {
        padding: 2rem;
        margin-bottom: 2rem;
        border-radius: $w-radius-lg;
        background-color: $c-bg-secondary;
    }

    &__about-lede,
    &__export-lede {
        padding: 0.5rem 1rem 0 1rem;
        background-color: $c-bg;
    }

    &--export &__export,
    &--about &__about {
        display: block;
    }

    &--create &__create {
        display: grid;
    }
}

.grid {
    $w-grid-gap: 2rem;

    grid-template-columns: 1fr;
    gap: $w-grid-gap;

    & > div {
        padding: $w-tile-pad;
        border-radius: $w-radius-lg;
        background: $c-bg-secondary;
    }

    .tex,
    .envel,
    .efx,
    .empty {
        display: none;
    }

    &--envel .envel,
    &--tex .tex,
    &--efx .efx,
    &--empty .empty {
        display: flex;

        @include small-viewport {
            flex-direction: column;
        }
    }
}


//
// Sections
//

.empty {
    height: 18.75rem;

    @include small-viewport {
        height: 26rem;
    }
}

.efx {
    $w-inp: 21.625rem;
    $w-can: calc(100% - $w-inp);

    gap: 2rem;

    &__inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem; 
        height: min-content;
        width: $w-inp;

        @include small-viewport {
            width: 100%;
        }
    }

    &__canvas {
        width: $w-can;
        display: grid;
        grid-template-columns: 2.875rem calc(100% - 2rem);

        @include small-viewport {
            width: 100%;
        }

        &:not(:has(#{ & }-label--show)) {
            grid-template-columns: 0 100%;
        }

        &-label {
            display: none;
            width: 100%;
            padding: 0.25rem 0 2rem;
            writing-mode: sideways-lr;

            &--show {
                display: flex;
                flex-direction: column;
            }
        }

        & &-input {
            height: 100%;
            writing-mode: sideways-lr;
            width: 0.125rem;
            margin: 0 0.75rem;
            background-color: $c-axis;

            &,
            &::-webkit-slider-thumb {
                cursor: ns-resize;
            }
        }

        &-reverb,
        &-vibrato {
            display: none;
            grid-column: span 2;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5rem;
            padding-top: 1rem;

            &--show {
                display: grid;
            }
        }

        &-canvas {
            grid-column: 2;
        }
    }
}

.envel {
    $w-gap: 1rem;
    $w-inp: 27rem;
    $w-arp: 5rem;
    $w-extra: 4rem;
    $w-can: calc(100% - #{ $w-inp - $w-gap } + $w-extra);
    $w-can-arp: calc(100% - #{ $w-inp - $w-gap + $w-arp } + $w-extra);

    gap: $w-gap;

    &__canvas {
        flex: 0 0 $w-can;
    }

    &__inputs--arpegg + &__canvas {
        flex: 0 0 $w-can-arp;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        flex: 0 0 $w-inp;
        margin-right: -$w-arp;

        @include small-viewport {
            flex: unset;
        }

        &--arpegg {
            margin-right: 0;
        }

        .radio-button {
            padding: 0.5rem 0.625rem;

            @include small-viewport {
                height: calc(100% - 1.125rem);
            }
        }

        &:not(#{&}--arpegg) &-detach,
        &:not(#{&}--arpegg) &-row:nth-child(4),
        &:not(#{&}--arpegg) &-row:nth-child(5) {
            visibility: hidden;

            @include small-viewport {
                display: none;
            }
        }

        &:not(#{&}--arpegg) &-row:nth-child(2) > :nth-child(4) {
            display: none;
        }

        &:not(#{&}--arpegg) &-row:nth-child(2) > :nth-child(2),
        &:not(#{&}--arpegg) &-row:nth-child(2) > :nth-child(5) {
            grid-column: span 9;
        }
        &:not(#{&}--arpegg) &-row:nth-child(2) > :nth-child(3) {
            grid-column: span 10;
        }

        &-row {
            display: grid;
            grid-template-columns: repeat(20, 1fr);
            grid-template-rows: min-content;
            gap: 0.5rem;
            align-items: center;
            margin-bottom: 0.5rem;

            & > * {
                grid-column: span 4;
            }

            &:nth-child(1),
            &:nth-child(2) {
                grid-template-columns: repeat(44, 1fr);
                
                & > * {
                    grid-column: span 8;
                }

                & > :nth-child(1) {
                    grid-column: span 8;
                }
            }

            &:nth-child(1) {
                & > :nth-child(2),
                & > :nth-child(3) {
                    grid-column: span 14;
                }
            }

            &:nth-child(2) {
                & > :nth-child(3),
                & > :nth-child(4) {
                    grid-column: span 10;
                }
            }

            &:nth-child(3),
            &:nth-child(6) {
                margin: 0.5rem 0 1rem;

                @include small-viewport {
                    margin: 1rem 0;
                }

                & > :nth-child(1) {
                    grid-column: span 12;
                }
            }

            &:nth-child(5) {
                & > :nth-child(1),
                & > :nth-child(2) {
                    grid-column: span 4;
                }
                & > :nth-child(3),
                & > :nth-child(4) {
                    grid-column: span 6;
                }
            }
        }

        &-detach {
            padding: 0 0.25rem;
            border: none;
            text-decoration: underline;
            text-decoration-style: dotted;
            text-underline-offset: 0.25rem;
            background-color: unset;
            
            &:hover,
            &:focus-visible {
                color: $c-text-link;
                background-color: unset;
            }
        }
    }
}

.tex {
    gap: 1rem;

    @include small-viewport {
        .grid & {
            padding-left: 0;
        }
    }

    &__inputs {
        width: 22rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include small-viewport {
            width: calc(100% - 1rem);
            padding-left: 1rem;
        }

        &-type,
        &-preset {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 0.5rem;

            & > * {
                grid-column: span 2;
            }
        }

        &-type {
            & > :nth-child(1),
            & > :nth-child(2),
            & > :nth-child(3),
            & > :nth-child(4) {
                grid-column: span 3;
            }
        }

        &-preset {
            margin-top: 1rem;
        }

        &-preset,
        &-overtone {
            display: none;

            &--open {
                display: grid;
            }
        }

        &-overtone {
            grid-template-columns: 50% 50%;

            input {
                $c-0: nth($c-d-highlight, 2);
                $c-1: nth($c-d-highlight, 10);
                $row-max: 8;
                $trans-max: 0.75;
                margin-bottom: 0.375rem;

                &:nth-child(2n + 1) {
                    background-color: transparentize($c-0, $trans-max);
                }
                &:nth-child(2n) {
                    background-color: transparentize($c-1, $trans-max);
                }
                @for $i from 0 to $row-max {
                    $a: $trans-max * ($i / $row-max);
                    &:nth-child(#{ (2 * $i) + 1 }) {
                        background-color: transparentize($c-0, $a);
                    }
                    &:nth-child(#{ 2 * $i }) {
                        background-color: transparentize($c-1, $a);
                    }
                }
            }
        }
    }

    &__canvas {
        position: relative;
        display: grid;
        width: calc(100% - 20.125rem);
        grid-template-columns: 1rem 1rem auto;
        margin: -0.75rem 0 -1rem;

        @include small-viewport {
            width: 100%;
        }

        &-label {
            width: 100%;
            font-size: $f-size-md;
        }

        &-label#{&}--degain {
            text-align: right;
            padding-top: 1rem;
        }

        & &-input {
            background: none;
        }

        & &--degain {
            position: relative;
            left: 1.125rem;
            height: calc(100% - 3rem);
            writing-mode: sideways-lr;
        }

        &--degain#{&}-input {
            position: relative;
            width: 0.125rem;
            margin: 0 0.75rem;

            &,
            &::-webkit-slider-thumb {
                cursor: ns-resize;
            }
        }

        &--detune,
        &--octave {
            position: absolute;
            display: flex;
            flex-direction: column;
        }

        &--detune {
            inset: auto 28% 0 2rem;
        }

        &--octave {
            inset: auto 0 0 72.5%;
        }

        &--detune &-label {
            padding: 0.375rem 0 0.875rem 1rem;
        }

        &--octave &-label {
            text-align: center;
            padding: 0.375rem 0 0.875rem 0;
        }

        &-canvas {
            width: 100%;
        }
    }
}

.tone {
    $w-button-height: 1.25rem;
    $w-button-pad: 0.5rem;

    position: relative;
    overflow-x: auto;

    &:after {
        content: '';
        position: absolute;
        inset: 0 0 0 auto;
        width: 2rem;
        background: linear-gradient(-90deg, $c-bg-secondary 1rem, transparent);
    }

    &,
    &__scroll-contain {
        position: relative;
        padding-bottom: 1.25rem;
        overflow-x: auto;
    }

    &__canvas {
        position: absolute;
        top: 0;
        left: $w-row-head;
        z-index: $z-tone-canvas;
        pointer-events: none;
    }

    &__grid {
        display: grid;
        grid-template-columns: $w-row-head auto;

        &-head {
            position: sticky;
            left: 0;
            z-index: $z-tone-row-head;
            text-align: center;
            font-size: $f-size-md;
            padding-right: 1.5rem;
            background: linear-gradient(-90deg, transparent 0, $c-bg-secondary 1rem);
            writing-mode: sideways-lr;
        }

        &-body {
            display: flex;
            align-items: center;
            gap: $w-node-gap-x;
            height: $h-node;
            padding: #{ $w-node-gap-y * 0.5 } 0;
            padding-right: 2rem;

            &--tone {
                padding-bottom: 0;
            }
        }

        &-head,
        &-body {
            &--efx {
                margin-top: $w-node-gap-y * 0.25;
            }
        }
    }

    &__node {
        position: relative;
        padding: $w-button-pad;

        &--tone {
            text-align: center;
            line-height: 1.375rem;

            @include small-viewport {
                line-height: 2rem;
            }
        }

        &--arpegg {
            display: none;
        }
        
        &-shortcut {
            position: absolute;
            width: 1rem;
            left: calc(50% - 0.5rem);
            bottom: 0.125rem;
            display: block;
            font-size: $f-size-xs;
            font-style: italic;
            color: $c-text-l;

            @include small-viewport {
                display: none;
            }
        }

        &:has(button:hover, button:focus-visible) {
            background-color: $c-bg;
        }

        &-delete {
            $w-button-delete: 1.5rem;
            position: absolute;
            top: -1px;
            right: -1px;
            z-index: $z-tone-over-canvas;
            padding: $w-button-delete * 0.5;
            border-radius: $w-radius $w-radius $w-radius 50%;
            border: 1px solid $c-border;
            pointer-events: none;
            opacity: 0;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: calc($w-button-pad - 2px);
                left: 50%;
                width: 1px;
                height: $w-button-delete * 0.5;
                background-color: $c-border;
            }

            &::after {
                rotate: 45deg;
            }

            &::before {
                rotate: -45deg;
            }

            &:hover,
            &:focus-visible {
                &:after,
                &:before {
                    background-color: $c-text-warning;
                }
            }
        }

        &-delete:focus-visible,
        &:hover:not(:has(#{&}-output:hover, #{&}-input:hover)) &-delete,
        &:focus-visible &-delete {
            animation: button-appear;
            animation-duration: $t-appear;
            animation-delay: $t-appear-delay;
            animation-fill-mode: forwards;
        }

        &-delete:focus-visible {
            animation-delay: 0s;
        }

        &-outputs,
        &-inputs {
            position: absolute;
            display: flex;
            justify-content: space-around;
            pointer-events: none;
        }

        &-outputs {
            inset: #{ -1 * $w-node-connect-top } 0 auto 0;
        }

        &-inputs {
            inset: auto 0 #{ -1 * $w-node-connect-top } 0;
        }

        &-output,
        &-input {
            position: relative;
            display: inline-block;
            width: $w-node-connect;
            height: $w-node-connect;
            padding: 0;
            border: 1px solid $c-border;
            border-radius: 100%;
            pointer-events: all;

            &:before,
            &:after {
                content: '';
                position: absolute;
                border-radius: 100%;
            }

            &:before {
                inset: 0;
                z-index: $z-tone-over-canvas;
            }

            &:after {
                content: '';
                position: absolute;
                inset: -1px;
                border: solid $c-border;
                z-index: $z-tone-over-canvas;
            }

            &:hover,
            &:focus {
                background: none;
                outline: 2px solid $c-primary;
                outline-offset: 2px;
            }
        }

        &-output {
            &:before {
                background: linear-gradient(transparent, $c-bg-secondary 87.5%);
            }

            &:after {
                border-width: 0 1px 1px 0;
            }
        }

        &-input {
            &--last-visible {
                visibility: hidden;

                @include parent-with(--show-inputs) {
                    visibility: visible;
                }
            }

            &:before {
                background: linear-gradient(0, transparent, $c-bg-secondary 87.5%);
            }

            &:after {
                border-width: 1px 0 0 1px;
            }
        }
    }

    &__add {
        position: relative;
        z-index: $z-tone-over-canvas;
        padding: $w-button-pad;
        width: #{ $w-button-height + ($w-button-pad * 2) };
        height: #{ $w-button-height + ($w-button-pad * 2) };
        border-radius: 100%;
        order: 1;
        border: none;
        background-color: $c-bg;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: $w-button-pad;
            left: calc(50% - 1px);
            width: 0.125rem;
            height: $w-button-height;
            background-color: $c-text;
        }

        &::after {
            rotate: 90deg;
        }
    }
}

.keys {
    position: relative;
    margin-top: auto;

    &__container {
        display: flex;
        position: relative;
    }

    &__flat-container {
        position: absolute;
        top: 0;
        display: flex;
        width: var(--width-lg);
        left: var(--left-lg);

        @include small-viewport {
            width: var(--width-sm);
            left: var(--left-sm);
        }
    }

    &__key {
        position: relative;
        flex: 1;
        z-index: $z-key;
        display: flex;
        align-items: end;
        height: $h-key;
        padding: 0;
        border: 1px solid $c-key-border;
        border-radius: 0 0 $w-key-rad $w-key-rad;
        margin-left: -1px;
        background-color: $c-key;
        cursor: pointer;
        transition: background-color $t-fade;
        overflow: hidden;

        @include small-viewport {
            &--second-octave {
                display: none;
            }
        }

        &:first-child:not(&--flat) {
            border-top-left-radius: $w-key-rad;
        }

        &:last-child:not(&--flat) {
            border-top-right-radius: $w-key-rad;
        }

        &:hover,
        &:focus-visible,
        &--active {
            background-color: $c-key-hover;
        }

        &--active {
            transition: background-color 0s;
        }

        &:focus-visible {
            z-index: $z-key-focus;
            box-shadow: 0 0 0 0.25rem $c-bg;
        }

        &--flat {
            position: relative;
            top: 1px;
            z-index: $z-key-flat;
            flex: 1;
            height: $h-key * 0.5;
            border-color: $c-key;
            background-color: $c-key-flat;
            
            .body--theme-light & {
                border-top-width: 0px;
            }

            &:focus-visible {
                z-index: $z-key-flat-focus;
                box-shadow: 0 0 0 0.25rem $c-bg;
            }
        }

        &--flat#{&}--active,
        &--flat:hover,
        &--flat:focus-visible {
            background-color: $c-key-flat-hover;
        }

        &-label {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.25rem;
            width: 100%;
            max-width: 100%;
            text-align: center;
            overflow: hidden;
            color: $c-text;
            padding-bottom: 0.375rem;

            &--shortcut {
                $w-key: 1.375rem;
                width: $w-key;
                height: $w-key;
                font-size: $f-size-xs;
                font-style: italic;
                line-height: $w-key;
                color: $c-text-l;
            }

            @include small-viewport {
                display: none;
            }
        }

        &--flat &-label--shortcut {
            color: $c-text-xl;
        }
    }
}