button,
.link-button,
.radio-button,
[role=tablist] label {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid $c-border;
    border-radius: 0.25rem;
    font-size: $f-size-md;
    font-weight: 400;
    background-color: $c-bg;
    line-height: 1.25rem;
    cursor: pointer;
    text-decoration: none;
    color: $c-text;

    &:hover {
        background-color: $c-bg-d;
    }   

    &:focus-visible,
    &:has(&__input:focus-visible) {
        outline: $w-outline solid $c-text;
    }

    &--detail {
        padding-left: 0.25rem;
        font-size: $f-size-sm;
        color: $c-text-l;
    }
}

.radio-button {
    position: relative;

    &:has(&__input:checked) {
        border-color: $c-primary;
        box-shadow: inset 0 0 0 2px $c-primary;
    }
    
    &__input {
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

[role=tablist] {
    input {
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0;
        left: 0;
    }

    label {
        position: relative;
        border: none;
        padding: 0.5rem 1.25rem 0.75rem;

        &:has(:checked) {
            border-radius: $w-radius $w-radius 0 0;
            box-shadow: inset 0 -3px 0 0 $c-primary;

            &:hover {
                background-color: unset;
                cursor: default;
            }
        }

        &:has(:focus-visible) {
            outline: 2px solid $c-text;
            z-index: 1;
        }
    }
}

input[type=range] {
    -webkit-appearance: none; 
    appearance: none;
    background-color: $c-bg-xd;
    height: 0.25rem;
    border-radius: 0.125rem;
    margin: var(--w-thumb-rad);
    touch-action: none;

    @include small-viewport {
        height: 0;
    }

    &.input--hide-track {
        height: 0;
        margin: 0;
        pointer-events: none;
    }

    &:focus,
    &:focus-visible {
        outline: none;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: calc(2 * var(--w-thumb-rad));
        height: calc(2 * var(--w-thumb-rad));
        border-radius: 100%;
        border: 1px solid $c-fg;
        background-color: $c-bg;
        cursor: ew-resize;
        pointer-events: all;

        &:hover {
            background-color: $c-fg;
        }
    }

    &:focus-visible::-webkit-slider-thumb {
        outline: 1px solid $c-fg;
        outline-offset: $w-outline;
        background-color: $c-fg;
    }
}

.checkbox {
    position: relative;
    padding-right: 1.75rem;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        top: 0.125rem;
        right: 0;
        width: 1rem;
        height: 1rem;
        border: 1px solid $c-border;
        border-radius: 0.25rem;
    }

    &:hover::after {
        background-color: $c-bg-xd;
    }

    &:has(&__input:checked) {
        &::after {
            background-color: $c-primary;
            box-shadow: inset 0 0 0 3px $c-bg;
        }

        &:hover::after {
            box-shadow: inset 0 0 0 3px $c-bg-xd;
        }
    }

    &:has(&__input:focus-visible) {
        &::after {
            outline: 2px solid $c-text;
        }
    }

    &__input {
        position: fixed;
        width: 1px;
        height: 1px;
        left: -200vw;

        &:focus-visible {
            outline: none;
        }
    }
}

.input-range-graph {
    width: 100%;
}