// Imports
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

// Dimensions
$w-rem: 16px;
$w-page-lg: 62rem;
$w-page-md: 56rem;
$w-page-sm: 36rem;
$w-text-contain: 50rem;
$w-page-pad: 1rem;
$w-thumb-rad: 0.5rem;
$w-thumb-rad-mobile: 0.625rem;
$w-outline: 0.125rem;
$w-radius: 0.25rem;
$w-radius-lg: 1rem;
$w-row-head: 3rem;
$w-node: 5.125rem;
$h-node: 3.125rem;
$w-key-rad: 0.375rem;
$w-tile-pad: 1rem;
$w-tone-button-height: 1.25rem;
$w-tone-button-pad: 0.5rem;
$w-node-gap-x: 1.5rem;
$w-node-gap-y: 3.5rem;
$w-node-connect: 0.75rem;
$w-node-connect-gap: $w-outline * 3;
$w-node-connect-top: $w-node-connect-gap + $w-node-connect;
$w-node-connect-bottom: $w-node-connect-gap + $w-outline;
$w-node-connect-kink: $w-node-connect - $w-outline;
$h-key: 7.5rem;
$h-key-mobile: 6.5rem;

// Z-indices
$z-tone-under-canvas: 9;
$z-tone-canvas: 10;
$z-tone-over-canvas: 11;
$z-tone-row-head: 20;
$z-tone-canvas-fg: 21;
$z-key: 10;
$z-key-focus: 20;
$z-key-flat: 30;
$z-key-flat-focus: 40;
$z-keys-mobile: 50;
$z-panel-mobile: 45;
$z-panel-close: 48;

// Font
$f-family-title: "Noto Serif", Helvetica, sans-serif;
$f-family: "Space Grotesk", Helvetica, sans-serif;
$f-size-title: 2rem;
$f-size-subtitle: 1.375rem;
$f-size-lg: 1rem;
$f-size-md: 0.875rem;
$f-size-sm: 0.75rem;
$f-size-xs: 0.625rem;

// Timings
$t-fade: 500ms;
$t-appear: 200ms;
$t-appear-delay: 750ms;

// Animations
@keyframes button-appear {
    from {
        opacity: 0;
        pointer-events: none;
    }

    to {
        opacity: 1;
        pointer-events: all;
    }
}

// Color
$c-primary: dodgerblue;
$c-warning: tomato;

$c-highlight-count: 10;
$c-l-highlight: ();
$c-d-highlight: ();
@for $i from 1 through 10 {
    $hue: -20 + ($i - 1) * 582;
    $c-l-highlight: append(
        $c-l-highlight,
        hsl($hue, 100%, 45%)
    );
    $c-d-highlight: append(
        $c-d-highlight,
        hsl($hue, 100%, 40%)
    );
}

$c-l-bg: #e2e9f0;
$c-l-bg-secondary: #ffffff;
$c-l-bg-xd: #bbbbbb;
$c-l-bg-d: #dddddd;
$c-l-fg: #222222;
$c-l-fg-l: #595959;
$c-l-fg-xl: #888888;
$c-l-fg-active: darken($c-primary, 10%);
$c-l-key: $c-l-bg-secondary;

$c-d-bg: #181822;
$c-d-bg-secondary: #24242e;
$c-d-bg-xd: #444444;
$c-d-bg-d: #333333;
$c-d-fg: #eeeeee;
$c-d-fg-l: #a9a9a9;
$c-d-fg-xl: #888888;
$c-d-fg-active: lighten($c-primary, 10%);
$c-d-key: $c-l-bg;

$c-bg:           var(--c-bg);
$c-bg-secondary: var(--c-bg-secondary);
$c-bg-xd:        var(--c-bg-xd);
$c-bg-d:         var(--c-bg-d);
$c-fg:           var(--c-fg);
$c-fg-l:         var(--c-fg-l);
$c-fg-xl:        var(--c-fg-xl);
$c-fg-active:    var(--c-fg-active);
$c-key:          var(--c-key);

$c-text: $c-fg;
$c-text-warning: $c-warning;
$c-text-link: $c-fg-active;
$c-text-l: $c-fg-l;
$c-text-xl: $c-fg-xl;
$c-axis: $c-text;
$c-border: $c-fg-l;
$c-key-hover: $c-l-bg-xd;
$c-key-border: $c-l-fg;
$c-key-flat: $c-l-fg;
$c-key-flat-hover: $c-l-fg-xl;

// Expose variables
.body {
    --w-rem:        #{ $w-rem };
    --w-row-head:   #{ $w-row-head };
    --w-node-gap-x: #{ $w-node-gap-x };
    --w-node-gap-y: #{ $w-node-gap-y };
    --w-node:       #{ $w-node };
    --h-node:       #{ $h-node };
    --w-node-connect-bottom: #{ $w-node-connect-bottom };
    --w-node-connect-kink:   #{ $w-node-connect-kink };
    --w-thumb-rad: #{ $w-thumb-rad };
    
    @include small-viewport {
        --w-thumb-rad: #{ $w-thumb-rad-mobile };
    }
    
    --c-highlight-count: #{ $c-highlight-count };
    --c-text:            #{ $c-text };
    --c-text-l:          #{ $c-text-l };
    --c-axis:            #{ $c-axis };
    --c-primary:         #{ $c-primary };

    &--theme-light {
        --c-bg:           #{ $c-l-bg };
        --c-bg-secondary: #{ $c-l-bg-secondary };
        --c-bg-tile:      #{ $c-l-bg-secondary };
        --c-bg-xd:        #{ $c-l-bg-xd };
        --c-bg-d:         #{ $c-l-bg-d };
        --c-fg:           #{ $c-l-fg };
        --c-fg-l:         #{ $c-l-fg-l };
        --c-fg-xl:        #{ $c-l-fg-xl };
        --c-fg-active:    #{ $c-l-fg-active };
        --c-key:          #{ $c-l-key };
        
        @for $i from 1 through $c-highlight-count {
            --c-highlight-#{$i - 1}: #{ nth($c-l-highlight, $i) }; 
        }
    }

    &--theme-dark {
        --c-bg:           #{ $c-d-bg };
        --c-bg-secondary: #{ $c-d-bg-secondary };
        --c-bg-tile:      #{ $c-d-bg };
        --c-bg-xd:        #{ $c-d-bg-xd };
        --c-bg-d:         #{ $c-d-bg-d };
        --c-fg:           #{ $c-d-fg };
        --c-fg-l:         #{ $c-d-fg-l };
        --c-fg-xl:        #{ $c-d-fg-xl };
        --c-fg-active:    #{ $c-d-fg-active };
        --c-key:          #{ $c-d-key };

        @for $i from 1 through $c-highlight-count {
            --c-highlight-#{$i - 1}: #{ nth($c-d-highlight, $i) }; 
        }
    }
}